/* font declarations */
@font-face {
  font-family: bangers;
  src: url("../assets/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: kaushan;
  src: url("../assets/fonts/kaushan-script.regular.ttf");
}

/* animations */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show-progress {
  from {
    transform: scaleY(0.0);
    top: -50px;
  }
  to {
    transform: scaleY(1);
    top: 120px;
  }
}

/* common styles */
body, p, div {
  font-family: roboto;
} 

.mdl-button {
  transition: background 0.3s linear;
}

.mdl-button:hover,
.mdl-button.active-button {
  background: #ff1227;
}

::-webkit-scrollbar {
  display: none;
}

.mdl-layout__header {
  background: black;
}

.mdl-tabs__tab-bar {
  border-bottom: none;
  /* background: #3F51B5; */
  /* box-shadow: 0px 2px 8px black; */
  z-index: 1;
  width: 100vw;
  position: fixed;
}

.mdl-tabs__tab,
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: white;
  padding: 0 50px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  height: 3px;
  visibility: hidden;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab:after {
  visibility: visible;
}
/* home section styles */

.home-section {
  /* background-image: url("../assets/images/waves.jpg"); */
  /* background: #3F51B5; */
  background: rgb(11, 11, 11);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  opacity: 0.85;
  position: relative;
  /* top: 48px; */
}

.logo {
  transform: scale(0.85);
}

.logo svg {
  margin: 0 -90px;
}

.home-section p {
  color: white;
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
  font-family: bangers;
  color: #ff1227;
  text-shadow: 2px 2px 1px black;
}

.home-section .scroll-text {
  font-size: 1em;
  margin-top: 25vh;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.line-1 {
  opacity: 0;
  animation: appear-low-to-high 1s ease-out 2s forwards;
}

.line-2 {
  opacity: 0;
  animation: appear-low-to-high 1s ease-out 3s forwards;
}

.line-3 {
  color: white;
  opacity: 0;
  animation: appear-low-to-high 1s ease-out 4s forwards;
}

.message-container {
  text-align: center;
}

@keyframes appear-low-to-high {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

/* skills section styles */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.skill-card {
  height: 80%;
  width: 50%;
  display: none;
  /* transition: display 1s linear; */
}

.skill-card.active {
  display: flex;
}

.skill-desc {
  font-size: 1em;
  color: black;
}

#skill-card1 .mdl-card__title {
  background: url('../assets/images/icons8-rocket-100.png') black center no-repeat;
}

#skill-card2 .mdl-card__title{
  background: url('../assets/images/icons8-lock-100.png') black center no-repeat;
}

#skill-card3 .mdl-card__title{
  background: url('../assets/images/icons8-responsive-100.png') black center no-repeat;
}

#skill-card4 .mdl-card__title{
  background: url('../assets/images/icons8-code-100.png') black center no-repeat;
}

.icons8-link {
  text-align: center;
}
/* about section styles */
.about-section {
  background-image: url("../assets/images/nature-sunset-minimalist.jpg");
  background-size: cover;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  background: black;
  /* top: 48px; */
}

.about-info {
  display: inline-block;
  background: #ff1227;
  color: white;
  height: 100vh;
  vertical-align: top;
  animation: fadein 3s ease-out;
}

.about-info p {
  font-size: 20px;
  padding: 0 50px;
}

.hobby-list {
  font-size: 1.5em;
  padding: 0 70px;
  margin: 0;
}

.hobby-list li{
  padding: 10px 0;
}

/* work section styles */
.work-section {
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  padding-top: 28px;
}

/* contact section styles */
.contact-section {
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
}

.contact-section-header {
  color: white;
  font-size: 50px;
  padding: 10vh;
  line-height: 50px;
  font-family: bangers;
  text-align: center;
}

.contact-section-content {
  background: #ff1227;
}

.work-section-header {
  transform: translateY(0);
  color: white;
  margin-top: 20px;
  background: #ff1227;
}

.active-transition {
  transform: translateY(-30px);
}

.work-section-info {
  height: 100%;
  width: 50vw;
  vertical-align: top;
  display: inline-block;
}

.work-section-info .career {
  color:  white;
}

.tech-icons-panel {
  font-size: 3em;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tech-icons-panel i {
  margin: 20px;
}

.tech-names-panel {
  font-size: 16px;
  text-align: center;
  margin: 30px;
}

.tech-names-panel span {
  visibility: hidden;
}

.download-resume-btn,
.download-resume-btn:active,
.download-resume-btn:visited{
  display: block;
  width: 50%;
  color: white;
  background: #ff1227;
  margin: 40px auto;
}

.contact-section-info {
  vertical-align: top;
}

.contact-section-image {
  background: url('../assets/images/cityscape.jpg');
  background-size: cover;
}

.opacity-layer {
  width: 100%;
  background: #ff1227;
  height: 100%;
  opacity: 0.3;
}

.xp {
  transform: translateY(10vh);
  opacity: 0;
}

.xp:first-child {
  animation: appear-low-to-high 1s ease-out 2s forwards;
}

.xp:nth-child(2){
  animation: appear-low-to-high 1s ease-out 3s forwards;
}

.xp:nth-child(3){
  animation: appear-low-to-high 1s ease-out 4s forwards;
}

.xp .number {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  left: 75px;
  z-index: 100;
  height: 20px;
  text-align: center;
  width: 20px;
}

.progress-line {
  position: absolute;
  width: 10px;
  height: 60%;
  background: #ff1227;
  margin-left: 50px;
  animation: show-progress 2s linear 3s forwards;
  transform: scaleY(0.0);
  top: -50px;
  z-index: -1;
}

.xp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.xp-icon-container {
  background-color: #ff1227;
  margin: 10px;
  display: flex;
  border: 5px solid black;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 80px;
  transform: rotate(45deg);
  z-index: 99;
}

.xp-text {
  margin: 15px 20px;
}

.xp-text p:last-child{
  margin: 0;
 }

.xp-icon-container i {
  transform: rotate(-45deg);
 }
 
 .skills-block .material-icons {
  font-size: 50px;
  margin: 0 -10px;
  margin-top: 10px;
}

.skills-block .skills-title {
font-size: 30px;
text-align: center;
}

.skills-heading-text {
vertical-align: top;
display: inline-block;
font-weight: bold;
margin-top: 25px;
}

.skills-block {
  background: whitesmoke;
  animation: none;
}

.skill-card .mdl-card__title {
  background-size: contain;
  color: white;
  height: 70%;
 }

.btn-prev, .btn-next {
  width: 50px;
  height: 50px;
  font-size: 2.5em;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff1227;
  color: white;
  margin: 20px;
  box-shadow: 2px 2px 8px black;
 }

 .social-media-links .social-link {
  padding: 12px;
  background: white;
  border-radius: 50%;
}

.social-media-links .social-link:hover {
  transform: scale(1.5);
}

.social-media-links .social-link i {
  color: black;
}

.social-media-links {
  transform: translateY(10vh);
  opacity: 0;
  animation: appear-low-to-high 1s linear 2s forwards;
}

.contact-section-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 75%;
}

.contact-section-container .separator {
    font-size: 3em;
    font-family: 'kaushan';
    text-align: center;
    position: relative;
}


.contact-section-container .separator::after {
  content: '';
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  background: linear-gradient(to right, white 0 25%, transparent 25% 75%, white 75% 100%);
  position: absolute;
  left: 0;
  top: 15px;
  animation: expand-line 1s linear 2s forwards;
}

.contact-section-info {
  width: 50vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #f5f5f5;
  height: 75%;
  transform: translateX(60vw);
  animation: move-left 0.7s ease-in-out 1s forwards;
}

.address-info,
.social-media-links {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-link .address {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  margin: 10px 30px;
}

.social-link {
  transition: transform 0.2s linear;
}

.social-link i {
  color: #f5f5f5;
  font-size: 2em;
}

.copyright-info {
  text-align: center;
}