@media only screen and (min-width: 768px) {

  .mdl-layout__drawer-button,
  .mdl-layout__content {
    display: none;
  }

  .nav-desktop {
    margin: auto;
    width: 27%;
  }

  .nav-desktop .mdl-button {
    color: white;
    margin-right: 20px;
    text-transform: none;
    font-size: 16px;
  }

  .nav-desktop .mdl-button:last-child {
    margin-right: 0;
  }

  .mdl-button:hover {
    background: #d32f2f;
  }

  .logo-container {
    display: inline-flex;
    background: #ff1227;
    height: 100%;
    width: 40vw;
    transform: translateY(100vh);
    animation: move-up 0.7s ease-in-out 1s forwards; 
    overflow: hidden;
  }

  .logo {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: auto;
  }

  .greeting-container {
    display: inline-flex;
    vertical-align: top;
    height: 100%;
    width: 60vw;
    background: black;
    transform: translateX(60vw);
    animation: move-left 0.7s ease-in-out 1s forwards;
    overflow: hidden;
  }

  .greeting-container .line {
    font-size: 6em;
    line-height: 80px;
  }

  .line-3 {
    font-size: 1.5em;
  }

  .message-container {
    margin: auto;
  }

  @keyframes move-up {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(0vh);
    }
  }

  @keyframes move-left {
    from {
      transform: translateX(60vw);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes move-right {
    from {
      transform: translateX(-60vw);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes expand-line {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(0.75);
    }
  }

  .about-section {
    height: 100vh;
  }

.about-section .picture {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.about-info {
  width: 50vw;
}

.about-section .picture .profile-image {
  height: 65vh;
  margin: 15vh;
} 

.about-info {
  animation: move-up 0.7s ease-in-out forwards;
}

.about-text {
  height: 75%;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-section {
  height: calc(100vh - 30px);
}

.work-section-header {
  animation: appear-low-to-high 0.7s ease-in-out forwards;
  padding: 5vh 10vw;
  line-height: 25px;
}

.contact-section-header {
  animation: appear-low-to-high 0.7s ease-in-out forwards;
}

.work-section-header p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.work-section-content {
  height: calc(100vh - 48px);
  background: black;
}

.career {
  color: white;
  font-size: 2em;
  transform: translateX(-60vw);
  animation: move-right 0.7s ease-in-out 1s forwards;
}

.work-xp-container {
  height: 70%;
  display: flex;
  padding: 5% 20%;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.contact-section-content {
  height: calc(100vh - 48px);
}

.skills-block {
  transform: translateX(60vw);
  background: whitesmoke;
  animation: move-left 0.7s ease-in-out 1s forwards;
}

.tech-icons-panel i {
  transition: transform 0.2s linear;
}

.tech-icons-panel i:hover {
  transform: scale(1.5);
}

 .btn-prev.hide-btn, .btn-next.hide-btn {
   visibility: hidden;
 }

.contact-section-image {
  width: 50vw;
  display: inline-flex;
  height: 75%;
  transform: translateX(-60vw);
  justify-content: center;
  align-items: center;
  animation: move-right 0.7s ease-in-out 1s forwards;
}

.download-resume-btn {
  transform: translateY(100vh);
  animation: move-up 2s ease-in-out 3s forwards;
}

.contact-fields {
  display: block;
  width: 100%;
}

.contact-form {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.contact-section {
  height: calc(100vh - 48px);
  padding-top: 48px;
}

.address-info .social-link i{
  font-size: 4em;
}

}