@media only screen and (max-width: 768px) {
  .mdl-tabs__tab-bar, .mdl-tabs {
    display: none;
  }

  .mdl-layout__drawer-button {
    color: white;
    background: #d31f2f;
    border-radius: 50%;
    padding: 2px;
  }

  .home-section {
    height: 100vh;
  }
  .home-section p {
    line-height: 35px;
  }

  .line-3 {
    font-size: 1.2em;
  }

  .logo {
    transform: scale(0.5);
  }

  .download-resume-btn {
    transform: translateY(100vh);
    animation: appear-low-to-high 2s ease-in-out 5s forwards;
  }
}
